
.form {
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: rgb(218, 233, 220);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.usuario {
    padding: 3rem 2px 1rem 2px;
}
.usuario input {
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
}

.senha {
    margin-bottom: 1.5rem;
}
.senha input {
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-weight: bold; 
}

.botao {
    width: 15rem;
    height: 2rem;
    font-size: medium;
    border-radius: 5px;
    background-color: rgb(172, 168, 168);
    border: none;
    cursor: pointer;
}

p {
    font-size: 13px;
}